apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
patches:
  - target:
      kind: Kustomization
      name: dis-apim-operator
    patch: |
      - op: add
        path: /spec/postBuild/substitute/DISAPIM_NAMESPACE_SUFFIX
        value: "${DISAPIM_NAMESPACE_SUFFIX:-}"
