apiVersion: v1
kind: Service
metadata:
  name: headscale
  namespace: headscale
spec:
  ipFamilyPolicy: PreferDualStack
  ipFamilies:
    - IPv4
    - IPv6
  selector:
    app: headscale
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
    - name: metrics
      port: 9090
      targetPort: metrics
      protocol: TCP
    - name: grpc
      port: 50443
      targetPort: grpc
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: headscale-derp
  namespace: headscale
spec:
  type: ClusterIP
  ipFamilyPolicy: PreferDualStack
  ipFamilies:
    - IPv4
    - IPv6
  selector:
    app: headscale
  ports:
    - name: derp
      port: 3478
      targetPort: derp
      protocol: UDP
