apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
patches:
  - target:
      kind: HelmRelease
      name: altinn-traefik
    patch: |
      - op: add
        path: /spec/values/extraObjects
        value:
          - apiVersion: traefik.io/v1alpha1
            kind: Middleware
            metadata:
              name: hsts-header
              namespace: traefik
            spec:
              headers:
                stsIncludeSubdomains: true
                stsSeconds: 63072000
                stsPreload: true
          - apiVersion: traefik.io/v1alpha1
            kind: Middleware
            metadata:
              name: hsts-header
              namespace: default
            spec:
              headers:
                stsIncludeSubdomains: true
                stsSeconds: 63072000
                stsPreload: true
          - apiVersion: traefik.io/v1alpha1
            kind: IngressRoute
            metadata:
              name: root-ingress-route
              namespace: traefik
            spec:
              entryPoints:
                - http
                - https
              routes:
                - kind: Rule
                  match: PathPrefix(`/`)
                  middlewares:
                    - name: hsts-header
                      namespace: traefik
                  services:
                    - kind: TraefikService
                      name: noop@internal