apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - ../policies
patches:
  - target:
      kind: HelmRepository
    patch: |
      - op: replace
        path: /metadata/namespace
        value: platform-system
  - target:
      kind: HelmRelease
    patch: |
      - op: replace
        path: /metadata/namespace
        value: platform-system
      - op: replace
        path: /spec/chart/spec/sourceRef/namespace
        value: platform-system
      - op: add
        path: /spec/targetNamespace
        value: traefik
  - target:
      kind: HelmRelease
      name: traefik-crds
    patch: |
      - op: add
        path: /spec/values/gatewayAPI
        value: true
  - target:
      kind: HelmRelease
      name: altinn-traefik
    patch: |
      - op: replace
        path: /spec/dependsOn
        value:
          - name: traefik-crds
            namespace: platform-system
      - op: replace
        path: /spec/values/providers/kubernetesCRD/enabled
        value: false
      - op: replace
        path: /spec/values/providers/kubernetesGateway/enabled
        value: true
      - op: add
        path: /spec/values/gateway
        value:
          enabled: true
          listeners:
            http:
              port: 8000
              protocol: HTTP
              hostname: ${DEFAULT_GATEWAY_HOSTNAME}
              namespacePolicy:
                from: All
            http-wildcard:
              port: 8000
              protocol: HTTP
              hostname: "*.${DEFAULT_GATEWAY_HOSTNAME}"
              namespacePolicy:
                from: All
            https:
              port: 8443
              protocol: HTTPS
              hostname: ${DEFAULT_GATEWAY_HOSTNAME}
              namespacePolicy:
                from: All
              certificateRefs:
                - name: ssl-cert
            https-wildcard:
              port: 8443
              protocol: HTTPS
              hostname: "*.${DEFAULT_GATEWAY_HOSTNAME}"
              namespacePolicy:
                from: All
              certificateRefs:
                - name: ssl-cert
      - op: replace
        path: /spec/values/ports/http/forwardedHeaders/trustedIPs
        value:
          - "${AKS_VNET_IPV4_CIDR}"
          - "${AKS_VNET_IPV6_CIDR}"
      - op: replace
        path: /spec/values/ports/https/forwardedHeaders/trustedIPs
        value:
          - "${AKS_VNET_IPV4_CIDR}"
          - "${AKS_VNET_IPV6_CIDR}"
