name: Build Flux Artifact

on:
  push:
    branches:
      - main
    paths:
      - oci/*/**
  release:
    types:
      - created
  workflow_dispatch:
    inputs:
      tag_name:
        required: true
        type: string
env:
  RELEASE_TAG_PREFIX: "oci-"

permissions:
  id-token: write
  contents: read

jobs:
  build-latest:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Prepare Job for Pushing OCI Artifacts to Azure Container Registry
        id: setup_flux_acr
        uses: dis-way/actions/flux/setup-flux-acr@9410320e5fbf49111cbec51f2cc2e4a4d98209a8 # main
        with:
          azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID_ADMINSERVICES_PROD }}
          azure_app_id: ${{ secrets.AZURE_CLIENT_ID_ADMINSERVICES_PROD }}
          azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
      - name: Build and push artifacts with commit sha tag
        env:
          REGISTRY: altinncr.azurecr.io
        run: |
          echo '### Check if there are any changes in ./oci/ folder'
          FLUX_FILES=$(git diff-tree --no-commit-id --name-only -r HEAD | grep '^oci/' || true)
          if [ -z "${FLUX_FILES}" ]; then
            echo "No artifacts to process."
            exit 0
          fi

          # Extract unique folder names directly under ./oci/
          ARTIFACTS=$(echo "${FLUX_FILES}" | awk -F'/' '{print $2}' | sort -u)
          for artifact in $ARTIFACTS;do
            echo "Processing artifact: ${artifact}"
            flux push artifact "oci://${REGISTRY}/manifests/infra/${artifact}:$(git rev-parse --short HEAD)" \
              --provider=azure \
              --reproducible \
              --path="./oci/${artifact}" \
              --source="$(git config --get remote.origin.url)" \
              --revision="$(git branch --show-current)/$(git rev-parse HEAD)"
            flux tag artifact "oci://${REGISTRY}/manifests/infra/${artifact}:$(git rev-parse --short HEAD)" \
              --provider=azure \
              --tag latest
          done
  tag-release:
    runs-on: ubuntu-latest
    environment: flux-release
    if: (github.event_name == 'release' && github.event.action == 'created' && startsWith(github.event.release.tag_name, 'oci-')) || (github.event_name == 'workflow_dispatch' && startsWith(github.event.inputs.tag_name, 'oci-'))
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.release.tag_name || github.event.inputs.tag_name }}
      - name: Extract release name and version
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: extract-release
        with:
          script: |
            const releaseRegex = /${{ env.RELEASE_TAG_PREFIX }}(.*?)-v(\d+\.\d+\.\d+)/;
            const tag = (github.event_name == 'release' ? github.event.release.tag_name :context.payload.inputs.tag_name);
            const match = tag.match(releaseRegex);
            if (match) {
              const releaseName = match[1];
              const releaseVersion = match[2];
              core.setOutput('releaseName', releaseName);
              core.setOutput('releaseVersion', releaseVersion);
              // Check if the release name corresponds to a folder in ./oci/
              const releaseFolder = `./oci/${releaseName}`;
              const fs = require('fs');
              if (!fs.existsSync(releaseFolder)) {
                core.setFailed(`Release folder does not exist: ${releaseFolder}`);
                return;
              }
            } else {
              core.setFailed(`Release tag name does not match expected format: ${tag}`);
              return;
            }
      - name: Add release tag to artifacts
        uses: dis-way/actions/flux/build-push-image@9410320e5fbf49111cbec51f2cc2e4a4d98209a8 # main
        with:
          image_name: "manifests/infra/${{ steps.extract-release.outputs.releaseName }}"
          tag: ${{ steps.extract-release.outputs.releaseVersion }}
          workdir: "./oci/${{ steps.extract-release.outputs.releaseName }}"
          azure_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID_ADMINSERVICES_PROD }}
          azure_app_id: ${{ secrets.AZURE_CLIENT_ID_ADMINSERVICES_PROD }}
          azure_tenant_id: ${{ secrets.AZURE_TENANT_ID }}
